<section class="applications">
    <div class="applications__list">
        <button (click)="createTaskButton()" class="applications__button">
            <p class="applications__text">Создать заявку</p>
        </button>
        <div class="applications__container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table__cell-id">ID</th>
                        <th class="table__cell-description">Название</th>
                        <th class="table__cell-status">Статус</th>
                        <th class="table__cell-performer">Исполнитель</th>
                    </tr>
                </thead>
                <div class="table__line"></div>
                <tbody>
                    <tr *ngFor="let task of tasks">
                       <td class="table__cell-id" [ngStyle]="{'border-left': getPriorityColor(task.priorityId)}">{{task.id}}</td>
                       <td class="table__cell-description">{{task.name}}</td>
                       <td class="table__cell-status">
                           <span class="application__status" [ngStyle]="{'background-color': task.statusRgb}">{{task.statusName}}</span>
                       </td>
                       <td class="table__cell-performer">{{task.executorName}}</td>
                    </tr>
                                     
                </tbody>                                                                                                                                                                                                      
              </table>

              
        </div>
    </div>
    <div *ngIf="showCreatingForm" class="applications__form">
        <div class="applications__header-description">
            <div class="applications__form-title">Новая заявка</div>
            <div (click)="createTaskButton()" class="applications__form-close">
                <img src="../../../../assets/images/close.png" alt="">
            </div>
        </div>
        <form class="add-form" (ngSubmit)="addTask()" validate>
            <span class="add-form__name">Название</span>
            <textarea class="add-form__input-name" name="name" [(ngModel)]="addingForm.name" required></textarea>
            <span class="add-form__name">Описание</span>
            <textarea class="add-form__input-name" name="description" [(ngModel)]="addingForm.description" required></textarea>
            <div *ngIf="responseStatus.showStatus" class="add-form__status" [ngClass]="responseStatus.result ? 'add-form__status__success' : 'add-form__status__error'">{{responseStatus.message}}</div>
            <button type="submit" class="add-form__button">Сохранить</button>
         <!--<button class="search-form__button">Найти</button>--->   
        </form>
    </div>
</section>
