@import '../../../../assets/scss/mixins.scss';

section.applications{
    display: flex;
    flex-direction: row;
    height: 1116px;
    position: absolute;
    .applications__list{
        z-index: 1;
        width: 1505px;
        height: inherit;
        .applications__button{
            position: relative;
            left: 260px;
            top: 23px;
            @include action__button(181px, 41px);
            &:hover{
                background-color: #1A4876;
            }
        }
        .applications__container{
            width: 1505px;
            height: inherit;
            overflow: scroll;
            position: relative;
            top: 85px;
        }
    }
    .applications__form{
        position: fixed;
        right: calc((100% - 1601px)/2); 
        z-index: 2;
        width: 972px;
        height: inherit;
    //    box-shadow: -1px 0px 1px 0px rgba(0,0,0,0.5);
        border-left: 1px #E2E7EA solid;
        background-color: #ECF3F7;
        .applications__header-description{
            height: 61px;
            width: inherit;
            background-color: #1A4876;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            .applications__form-title{
                margin-left: 38px;
                color: white;
                font-size: 16pt;
                font-family: "Myriad";
            }
            .applications__form-close{
                margin-right: 30px;
                cursor: pointer;
            }
        }
    }

    .add-form{
        margin: 55px 38px;
        display: flex;
        flex-direction: column;
        width: 625px;
        position: relative;
        height: 400px;
        &__name{
            font-family: "Myriad"; 
            font-weight: 100;
            font-size: 14pt;
            color: rgba(159, 158, 167, 255);
            margin-bottom: 14px;
        }
        &__input-name{
            height: 84px;
            border: none;
            resize: none;
            border-radius: 5px;
            margin-bottom: 25px;
            &:last-child{
                height: 133px;
            }
        }
        &__status{
            font-size: large;
            font-family: "Myriad";
            &__success{
                color: blue;
            }
            &__error{
                color: red;
            }
        }
        &__button{
            position: absolute;
            left: 0px;
            bottom: 0px;
            @include action__button(150px, 36px);
        }
    }
    overflow: scroll;
    .table{
        max-height: 1116px;
        height: 100%;
        width: 1505px;
        th{
            border-right: 1px #E2E7EA solid;
            border-bottom: 1px #E2E7EA solid;
            padding-bottom: 10px;
            height: 25px;
            font-size: 16pt;
            font-family: "Myriad";
            font-weight: 100;
            color: rgba(64, 65, 71, 255);
            &.table__cell-id{
               width: 116px; 
            }
            &.table__cell-description{
                width: 413px; 
                text-align: left;
                padding-left: 15px;
            }
            &.table__cell-status{
                width: 125px; 
                text-align: left;
                padding-left: 15px;
            }
            &.table__cell-performer{
                width: 774px;
                text-align: left;
                padding-left: 30px; 
                border-right: none;

            }   
        }
        td{
            height: 51px;
            font-size: 16pt;
            font-family: "Myriad";
            font-weight: lighter;
            color: rgba(82, 84, 96, 255);
            border-bottom: 1px #E2E7EA solid;
            &.table__cell-id{
               width: 116px; 
               text-align: center;
               border-left: 5px green solid;
            }
            &.table__cell-description{
                width: 413px; 
                text-align: left;
                padding-left: 15px;
            }
            &.table__cell-status{
                width: 125px; 
                text-align: left;
                padding-left: 15px;
            }
            &.table__cell-performer{
                width: 774px;
                text-align: left;
                padding-left: 5px; 
                border-right: none;
                text-align: left;
            }             
        } 
        /*
        .table__cell-id{
            height: 51px;
            width: 114px;
            border-left: 5px #F75394 solid;
            &__header{
                border-right: 1px #E2E7EA solid;
                width: 114px;
                height: 25px;
                margin-bottom: 9px;
            }
        }
        .table__cell-description{
            height: 51px;
            width: 414px;
            &__header{
                height: 25px;
                margin-bottom: 9px;
            }

        }
        */
    }
    .application__status{ 
        border-radius: 25px; 
        text-align: center; 
        font-size: 16px; 
        padding: 5px 15px; 
        color: white;
    }


}



