<section class="applications">
    <div class="applications__list">
        <div class="applications__button">
            <p class="applications__text">Создать заявку</p>
        </div>
        <div class="applications__container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table__cell-id">ID</th>
                        <th class="table__cell-description">Название</th>
                        <th class="table__cell-status">Статус</th>
                        <th class="table__cell-performer">Исполнитель</th>
                    </tr>
                </thead>
                <div class="table__line"></div>
                <tbody>
                    <tr *ngFor="let task of tasks">
                       <td class="table__cell-id" [ngStyle]="{'border-left': getPriorityColor(task.priorityId)}">{{task.id}}</td>
                       <td class="table__cell-description">{{task.name}}</td>
                       <td class="table__cell-status">
                           <span class="application__status" [ngStyle]="{'background-color': task.statusRgb}">{{task.statusName}}</span>
                       </td>
                       <td class="table__cell-performer">{{task.executorName}}</td>
                    </tr>
                                     
                </tbody>                                                                                                                                                                                                      
              </table>

              
        </div>
    </div>
    <div *ngIf="false" class="applications__form">
        <div class="applications__header-description"></div>
    </div>
</section>
