<section class="applications">
    <div class="applications__list">
        <button (click)="createTaskButton()" class="applications__button">
            <p class="applications__text">Создать заявку</p>
        </button>
        <div class="applications__container">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table__cell-id">ID</th>
                        <th class="table__cell-description">Название</th>
                        <th class="table__cell-status">Статус</th>
                        <th class="table__cell-performer">Исполнитель</th>
                    </tr>
                </thead>
                <div class="table__line"></div>
                <tbody>
                    <tr *ngFor="let task of tasks">
                       <td (click)="showTask(task.id)" class="table__cell-id" [ngStyle]="{'border-left': getPriorityColor(task.priorityId)}">{{spaceInId(task.id)}}</td>
                       <td (click)="showTask(task.id)" class="table__cell-description">{{task.name}}</td>
                       <td (click)="showTask(task.id)" class="table__cell-status">
                           <span class="application__status" [ngStyle]="{'background-color': task.statusRgb}">{{task.statusName}}</span>
                       </td>
                       <td (click)="showTask(task.id)" class="table__cell-performer">{{task.executorName}}</td>
                    </tr>
                                     
                </tbody>                                                                                                                                                                                                      
              </table>

              
        </div>
    </div>
    <div *ngIf="showCreatingForm" class="applications__form">
        <div class="applications__header-description">
            <div class="applications__form-title">Новая заявка</div>
            <div (click)="createTaskButton()" class="applications__form-close">
                <img src="../../../../assets/images/close.png" alt="">
            </div>
        </div>
        <form class="form" (ngSubmit)="addTask()" validate>
            <span class="form__name">Название</span>
            <textarea class="form__input" name="name" [(ngModel)]="addingForm.name" required></textarea>
            <span class="form__name">Описание</span>
            <textarea class="form__input" name="description" [(ngModel)]="addingForm.description" required></textarea>
            <div *ngIf="responseStatus.showStatus" class="form__status" [ngClass]="responseStatus.result ? 'form__status__success' : 'form__status__error'">{{responseStatus.message}}</div>
            <button type="submit" class="form__button">Сохранить</button>
         <!--<button class="search-form__button">Найти</button>--->   
        </form>
    </div>
    <div *ngIf="showEdittingForm" class="applications__form">
        <div class="applications__header-description">
            <div class="applications__form-title">№ {{spaceInId(taskById.id)}}</div>
            <div class="applications__form-description">{{taskById.taskTypeName}}</div>
            <div (click)="editTaskButton()" class="applications__form-close">
                <img src="../../../../assets/images/close.png" alt="">
            </div>
        </div>
        <form class="form" [ngStyle]="{'margin-top': '28px', 'height': '400px'}" (ngSubmit)="addComment()" validate>
            <span class="form__name">Описание</span>
            <div class="form__description" name="name" [innerHTML]="sanitizeServersideHtml(taskById.description)"></div>
            <span class="form__name">Добавление комментариев</span>
            <textarea class="form__input" name="description" [(ngModel)]="taskById.comment" required></textarea>
            <div *ngIf="responseStatus.showStatus" class="form__status" [ngClass]="responseStatus.result ? 'form__status__success' : 'form__status__error'">{{responseStatus.message}}</div>
            <button type="submit" class="form__button">Сохранить</button>  
        </form>
        <div class="applications__comments"> 
            <div class="applications__comments-wrapper" *ngFor="let comment of commentsFilter(taskById.lifetimeItems)">
                <div class="applications__comments-photo"></div>
                <div class="applications__comments-user">
                    <div class="applications__comments-name">{{comment.userName}}</div>
                    <div class="applications__comments-date">{{comment.createdAt | date: 'MMM d, y, h:mm:ss a' }}</div>
                    <div class="applications__comments-description" [innerHTML]="sanitizeServersideHtml(comment.comment)">
                    </div>
                </div>
            </div>
        </div>
        <div class="applications__detail">
            <img (click)="editTask()" class="applications__detail-buttons" *ngIf="!editMode" src="../../../../assets/images/edit1.png" alt="">
            <img (click)="saveTask()" class="applications__detail-buttons" *ngIf="editMode" src="../../../../assets/images/save.png" alt="">
            <div class="applications__detail-status">
                <div *ngIf="!editMode" class="applications__status-img" [ngStyle]="{'background-color': taskById.statusRgb}"></div>
                <div *ngIf="!editMode" class="applications__status">{{taskById.statusName}}</div>
                <div *ngIf="editMode" class="applications_status">
                    <select [(ngModel)]="taskById.statusId">
                        <option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</option>
                      </select>
                </div>
            </div>
            <div class="applications__detail-info">
                <div class="applications__detail-title">Заявитель</div>
                <div class="applications__detail-description">{{taskById.initiatorName}}</div>
            </div>
            <div class="applications__detail-info">
                <div class="applications__detail-title">Создана</div>
                <div class="applications__detail-description">{{taskById.createdAt | date: 'dd.MM.yyyy'}}</div>
            </div>
            <div class="applications__detail-info">
                <div class="applications__detail-title">Исполнитель</div>
                <div *ngIf="!editMode" class="applications__detail-description applications__detail-description__executor">{{taskById.executorName}}</div>
                <div *ngIf="editMode" class="applications__detail-description">
                    <select [(ngModel)]="taskById.executorId">
                        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
                      </select>
                </div>
            </div>
            <div class="applications__detail-info">
                <div class="applications__detail-title">Приоритет</div>
                <div class="applications__detail-description">{{taskById.priorityName}}</div>
            </div>
            <div *ngIf="taskById.resolutionDatePlan" class="applications__detail-info">
                <div class="applications__detail-title">Срок</div>
                <div class="applications__detail-description">
                    <img src="../../../../assets/images/сalendar.png" alt="">
                    {{taskById.resolutionDatePlan | date: 'dd.MM.yyyy'}}
                </div>
            </div>
            <div class="applications__detail-info">
                <div class="applications__detail-title">Теги</div>
                <div class="applications__detail-description applications__detail-description__tags">
                    <span *ngFor="let tag of taskById.tags">{{tag.name}}</span>
                    
                </div>
            </div>
        </div>
    </div>    
</section>
