
html, body {
    height: 100%;
    min-width: 1600px;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

@font-face {
    font-family: "Myriad";
    src: url('./assets/styles/MyriadPro.otf');
}

textarea{
    &-active , &:hover, &:focus{
        outline: none;
    }
}
select, button{
    &:focus{
        outline: none;
    }
}